.pro h1{
  text-align: center;
  /* color: red; */
}

.pro{
  padding-left: 10px;
}

.img-fluid{
  height: auto;


}
#info h1{
  color: red;
  font-family: serif;

}
#info ol{
  font-family: sans-serif;

  }
.tech{
  color: red;
}

.chrt{
  text-align: center;
  color: black;
}
